body {
    font-family: Arial, Helvetica, sans-serif;

}

/* navagation top */
.nav-item {
    padding: 18px 58px;
}

.navbar-brand {
    padding: 3px 40px;
    text-align: center;
}

.navbar {
    background-color: #16697a;
    height: 90px;
    font-family: 'Josefin Slab', serif;
    margin: 0;
}

/* gallery */

/* item */
.container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

/* .item-wrapper {} */

.item-wrapper {
    position: relative;
}

.img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}

.img-background :hover {
    filter: brightness(80%);
    color: black;
}

.img-text-wrapper {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-weight: 600px;
    transition: 1s;
    color: transparent;
}


.logo-wrapper i {
    font-size: 50px;
}

.img-text-wrapper:hover {
    color: rgb(212, 212, 212);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.titile {
    text-align: center;
    margin: 40px 0 40px 0;
}


/* index */

#feature {
    margin: 5%;
}

.pic img {
    margin: 60px auto;
    width: 100%;
    height: 400px;
}

.feature-right {
    margin-top: 4rem;
}

#Service {
    margin: 8% 3%;
    text-align: center;
}

#Service i {
    font-size: 60px;
}

.row>.featured-icon {
    margin: 0px;
    text-align: center;
}

.row>.featured-icon>.icon {
    font-size: 80px;
}

.icon:hover {
    color: rgb(0, 0, 0);
}

.row>.featured-icon p {
    margin: auto;
    color: rgb(19, 19, 19);
    padding-left: 40px;
}

#product {
    margin: 50px;
}

/* site map */
#site-map {
    margin: 65px 5px;
    padding: 2px 40px;
    color: rgb(243, 206, 106);
    font-size: large;
}


h1 {
    margin: 0px 0px 45px 0px;
    text-align: center;
}

.ul-sitemap {
    list-style-type: none;
    color: black;
    text-align: center;
}


/* footer */
footer {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1422207258071-70754198c4a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=741&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    letter-spacing: 2px;
    line-height: 2;
}

#footer-icon {
    padding-left: 40%;
}

#footer-top {
    padding: 80px 10px 80px 10px;
}

.footer {
    list-style-type: none;

}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.row i {
    margin: 100px 5px 8px 5px;
    font-size: 30px;
    color: rgb(224, 224, 224);

}

.row p {
    color: rgb(219, 219, 219);
    padding-top: 10px;
    margin-right: 100px;
    padding-bottom: 100px;
}

.row-wrapper {
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #footer-icon {
        padding-left: 30%;
    }

}