body {
    font-family: sans-serif;
}

/* navagation top */
.navbar {
    background-color: #fff;
    height: 80px;
    /* position: fixed;
    z-index: 1; */
}

.navbar-brand {
    padding: 0 150px;
    font-family: fantasy;
}

.navbar-nav {
    padding-right: 40px;
}

.navbar-nav a {
    margin: 0 15px;
    /* color: rgb(0, 0, 0); */
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
}

.navbar-nav li a:hover {
    background-color: #ffc1b6;
    border-radius: 4px;
    box-sizing: 25px;


}

a i {
    font-size: 22px;
    color: rgb(233, 233, 233);
    margin: 5px 0;

}

a i:hover {
    color: #ffc1b6;
    font-size: 24px;

}

.navbar-toggler {
    border: none;
}

#navbarNavDropdown li a:hover {
    background-color: #ffc1b6;
}

#navbarNavDropdown i:hover {
    color: #ffc1b6;
}

#navbarNavDropdown {
    border: none;
    background-color: #fff;
    width: 50%;
    /* height: 100%; */
    text-align: center;
}


/* gallery */

/* item */
.container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

/* .item-wrapper {} */

.item-wrapper {
    position: relative;
}

.img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}

.img-background :hover {
    filter: brightness(60%);
    color: black;
}

.img-text-wrapper {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-weight: 600px;
    transition: 1s;
    color: transparent;
}


/* .logo-wrapper i {
    font-size: 50px;
} */

.img-text-wrapper:hover {
    color: rgb(212, 212, 212);
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.titile {
    text-align: center;
    margin: 40px 0 40px 0;
}


/* index */

h1 {
    color: #ffc1b6;
}

.carousel-indicators>li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(207, 207, 207);
}

.featured-icon i:hover {
    color: #ffc1b6;
    transition: 2s;
}


#feature {
    margin: 0;
    padding: 0;
}

.pic img {
    margin: 50px auto;
    margin-left: 70px;
    width: 300PX;
    height: 450PX;
}

.feature-right {
    margin-top: 6rem;
}


#Service {
    margin: 5% 3%;
    text-align: center;
    background-color: #ffc1b6;
    color: #fff;
}

#Service i {
    font-size: 100px;
    color: #fff;
}


.row>.featured-icon p {
    margin: auto;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

#product {
    margin: 50px;
}

.card-body {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* site map */
#site-map {
    margin: 65px 5px;
    padding: 2px 40px;
    color: #ffc1b6;
    font-size: large;
}


h1 {
    margin: 0px 0px 45px 0px;
    text-align: center;
}

.ul-sitemap {
    list-style-type: none;
    color: black;
    text-align: center;
}

/* #menu */

.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card>.row-wrapper {
    padding: 30px;
}

.card img {
    width: 100%;
    height: 300px;
    background-size: cover;
}

span {
    padding-left: 150px;


}

.card-body {
    padding: 0;
    padding-left: 20px;
}

.card-body p {
    margin: 0;
}

.list-group-item {
    padding: 0;
    padding-left: 20px;
}

/* footer */
footer {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1422207258071-70754198c4a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=741&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    letter-spacing: 2px;
    line-height: 2;
    margin-top: 40px;
    display: block;
}

#footer-icon {
    padding-left: 40%;
}

#footer-top {
    padding: 80px 10px 80px 10px;
}

.footer {
    list-style-type: none;

}

.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.row i {
    margin: 100px 5px 8px 5px;
    font-size: 30px;
    color: rgb(224, 224, 224);

}

.row p {
    color: rgb(219, 219, 219);
    padding-top: 10px;
    margin-right: 100px;
    padding-bottom: 100px;
}

.row-wrapper {
    margin: 0 auto;
}

#location {
    padding-top: 10%;
}


.team-info {
    margin-bottom: 50px;
}

/* contact */
#contact {
    margin-top: 100px;

}

.contact .row>div {
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact .row>div h2 {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.9;
}

.contact-left form input,
.contact-left form textarea {
    width: 100%;
    font-size: 1.1rem;
    margin: 0.2rem 0;
    padding: 0.8rem 0.6rem;
    border: none;
    border-bottom: 1.5px solid #f0f0f0;
    outline: 0;
}

.contact-left form input::placeholder,
.contact-left form textarea::placeholder {
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.8;
}

.contact-left form input:focus,
.contact-left form textarea:focus {
    border-color: var(--night-rider);
}

.submit-btn {
    margin: 1rem 0;
    border: none;
    font-size: 1.3rem;
    color: rgb(250, 250, 250);
    background: #ffc1b6;
    opacity: 0.9;
    padding: 0.8rem 3.4rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.submit-btn:hover {
    background: #fdb7ab;
}

.contact-right div {
    margin: 2rem 0;

}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }

    .navbar-brand {
        margin: 0;
        padding: 0 20px;
    }

    .pic img {
        padding: 0;
        margin: 23% 50px;
    }

    .row p {
        margin: 0 20px;
        text-align: center;
        padding: 0;
    }

    .featured-icon {
        margin-bottom: 60px;
    }

    .row .contact-left {
        margin: 0 20px;
    }

    #footer-icon {
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    #footer-icon .row {
        margin: 20px 30% 0px;
        padding: 0 70px;
    }

    #footer-icon .row p {
        margin-bottom: 50px;
    }

    #contact .container {
        margin: 20px;
    }

    #contact .container .row .contact-left {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 600px;
    }

    .pic img {
        margin: 30px 100px;
        padding: 0;
    }

    .card-deck {
        margin: 0%;
        padding: 0px;
    }

    /* .card-deck .card {
        width: 300px;
        height: 300px;
    } */

    #footer {
        margin: 0;
    }

    #footer-icon .row-wrapper .row {
        margin: 0;
        padding: 0 140px;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }

    .navbar-brand {
        margin: 20px;
        padding: 0;
    }

    .navbar {
        padding: 0;
        height: 10%;
        width: 400px;
    }

    .navbar-toggler-icon {
        margin: 0;
        padding: 0;
    }

    .pic img {
        margin: 20px 10px;
        padding: 0;
    }

    .feature-right {
        margin: 10px;
        padding: 10px;
    }

    .row p {
        padding: 0;
        margin: 20px 5px 50px;
        text-align: center
    }

    .row i {
        margin: 30px 5px 10px;
        padding: 0;
    }

    .container .row {
        margin: 10px;
    }

    #footer-icon {
        margin: 0;
        padding: 0;

    }

    #footer-top {
        justify-content: right;
    }

    #footer-icon .row {
        margin: 0px 0% 0px;
        padding: 0 70px;
    }

    #footer-icon .row p {
        margin-bottom: 50px;
    }


}